<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.moflon.org/tie/gt/Controlflow"
			class = "org.moflon.tie.gt.controlflow.ControlflowPackage"
			genModel = "model/generated/Controlflow.genmodel" />
	</extension>
</plugin>
