<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.moflon.gt.ide.ui.moslgt"
            name="eMoflon">
      </category>
   </extension>
    <extension
         point="org.eclipse.ui.menus">
        <menuContribution allPopups="true" locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <menu icon="resources/icons/gtlogo.png" id="org.moflon.ide.ui.moslgt" label="eMoflon::TIE-GT"></menu>
        </menuContribution>
   </extension>

</plugin>
