<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.moflon.tie_gt.ide.core.runtime.natures."
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.moflon.tie_gt.ide.core.runtime.natures.TIEGTNature">
         </run>
      </runtime>
   </extension>

</plugin>
